<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Message Board</title>
{% block extrahead %}
{% endblock %}
</head>
<body>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block container %}
    <div class="messages" id="messages">
    {% for message in messages %}
    <div>
        <div>Name: {{ message.user.name }}</div>
        <div>Post Date: {{ message.post_date }}</div>
        <div>Messages:</div>
        <div>
        {{ message.message|safe }}
        </div>
    </div>
    <hr>
    {% endfor %}
    </div>
    {% endblock %}
</div>

</body>
</html>
