<!DOCTYPE html>
<html>
<head>
<title>Bank</title>
</head>
<body>

<div class="container">
  <h2>Bank</h2>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <div class="users">
      <ul>
          {% for account in accounts %}
          <li>{{ account.user.name }} | {{ account.user_id }} | {{ account.balance }}</li>
          {% endfor %}
      </ul>
  </div>
</div>
</body>
</html>
